body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

//===============================================
//  Estilos login
.background{
    background: rgb(32,0,255);
    background: linear-gradient(315deg, rgba(32,0,255,1) 0%, rgba(32,217,255,1) 50%, rgba(32,217,255,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .cuadroIzquierda{
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 2px solid white;
        .iconoLogin{
            height: 40%;
        }
    }
    .cuadroDerecha{
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-left: 2px solid white;
        .login{
            width: 80%;
            .txt{
                margin-top: 10px;
            }
        }
        .btnLogin{
            color: white;
            border-radius: 10px;
            margin-top: 10px;
            border-color: white;
        }
        .btnLogin:hover{
            background-color: rgba(255, 255, 255, 0.4);
            border-color: white;
        }
    }
}
//===============================================

.navbar{
    background: rgb(32,0,255);
    background: linear-gradient(315deg, rgba(32,0,255,1) 0%, rgba(32,217,255,1) 50%, rgba(32,217,255,1) 100%);
    height: 100px;
    display: flex; 
    padding-right: 10%;
    padding-left: 5%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    img{
        height: 70%;
        cursor: pointer;
    }
    button{
        border: 3px solid;
        border-radius: 35px;
        height: 3rem;
        width: 11rem;
        font-size: 20px;
    }
}
.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    .side{
        width: 20%;
        height: 100%;
        border-right: 1px solid black;
        .cajaUsuario{
            width: 100%;
            height: 40%;
            .datosUser{
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                p{
                    padding-left: 10px;
                    font-size: 30px;
                    display: inline;
                }
            }
            .rolesUsuario{
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding-left: 20px;
                .rol{
                    padding: 10px 20px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    height: 25%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 35px;
                    border: 2px solid black;
                    p{
                        display: inline;
                        margin: 0;
                        font-size: 20px;
                    }
                    .punto{
                        height: 12px;
                        width: 12px;
                        border-radius: 50%;
                        background-color: black;
                        margin-right: 15px;
                    }
                }
            }
        }
        .linea{
            height: 0.2%;
            width: 90%;
            background-color: black;
            margin: auto;
        }
        .menu{
            width: 100%;
            height: 59.5%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: space-around;
            align-items: center;
            .item{
                cursor: pointer;
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 40px;
                padding-right: 30%;
                margin: 20px 0;
                p{
                    margin: 0;
                }
                .cuadro{
                    height: 100%;
                    width: 3%;
                    background-color: white;
                }
            }
            .item:hover{
                background-color: #B5B5B5;
                color: white;
                .cuadro{
                    background-color: #B5B5B5;
                }
                
            }
            .activo{
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                .cuadro{
                   display: inline;
                   background-color: #206BFF;
                }
            }
        }
    }
//===============================================
// Estilos para el info side, existen 3 div que se van alternando dependiendo de la seleccion en el menú
    .infoSide{
        position: initial;
        width: 80%;
        height: 100%;
        border-left: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bienvenido{
        //display: none;
    }
    .titulos{
        width: 100%;
        height: 10%;
        font-size: 35px;
        display: flex;
        border-bottom: 2px solid black;
        p{
            margin-left: 20px;
        }
    }
    .infoUsuarios{
        display: none;
        padding: 20px;        
        .opcionesUsuarios{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            .cuadroRegistro{
                width: 45%;
                height: 100%;
                .form{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;   
                }
                .txtR{
                    width: 80%;
                    margin-top: 5%;
                    border-radius: 25px;
                }         
            }
            .cuadroRoles{
                width: 45%;
                height: 100%;  
                .ventanaRoles{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-direction: column;
                    .cajaRoles{
                        height: 80%;
                        width: 80%;
                        border-radius: 15px;
                        border: 2px solid black;
                        overflow: scroll;
                        overflow-x: hidden;
                        .caja1{
                            width: 100%;
                            height: 800px;
                            background-color: gray;
                        }
                        .caja2{
                            width: 100%;
                            height: 800px;
                            background-color: red;
                        }
                    }
                }            
            }
        }
    }
    .proyectos{
        display: none;
        .espacio{
            height: 1800px;
            width: 100px;
        }
    }
}
