body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif; }

.background {
  background: #2000ff;
  background: -webkit-linear-gradient(135deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  background: -o-linear-gradient(135deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  background: linear-gradient(315deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .background .cuadroIzquierda {
    width: 50%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 2px solid white; }
    .background .cuadroIzquierda .iconoLogin {
      height: 40%; }
  .background .cuadroDerecha {
    width: 50%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 2px solid white; }
    .background .cuadroDerecha .login {
      width: 80%; }
      .background .cuadroDerecha .login .txt {
        margin-top: 10px; }
    .background .cuadroDerecha .btnLogin {
      color: white;
      border-radius: 10px;
      margin-top: 10px;
      border-color: white; }
    .background .cuadroDerecha .btnLogin:hover {
      background-color: rgba(255, 255, 255, 0.4);
      border-color: white; }

.navbar {
  background: #2000ff;
  background: -webkit-linear-gradient(135deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  background: -o-linear-gradient(135deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  background: linear-gradient(315deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
  padding-left: 5%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }
  .navbar img {
    height: 70%;
    cursor: pointer; }
  .navbar button {
    border: 3px solid;
    border-radius: 35px;
    height: 3rem;
    width: 11rem;
    font-size: 20px; }

.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0; }
  .cuerpo .side {
    width: 20%;
    height: 100%;
    border-right: 1px solid black; }
    .cuerpo .side .cajaUsuario {
      width: 100%;
      height: 30%; }
      .cuerpo .side .cajaUsuario .datosUser {
        width: 100%;
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .cuerpo .side .cajaUsuario .datosUser p {
          padding-left: 10px;
          font-size: 30px;
          display: inline; }
      .cuerpo .side .cajaUsuario .rolesUsuario {
        width: 100%;
        height: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 20px; }
        .cuerpo .side .cajaUsuario .rolesUsuario .rol {
          padding: 10px 20px;
          margin-top: 5px;
          margin-bottom: 5px;
          height: 25%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 35px;
          border: 2px solid black; }
          .cuerpo .side .cajaUsuario .rolesUsuario .rol p {
            display: inline;
            margin: 0;
            font-size: 20px; }
          .cuerpo .side .cajaUsuario .rolesUsuario .rol .punto {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: black;
            margin-right: 15px; }
    .cuerpo .side .menu {
      width: 100%;
      height: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: distribute;
      align-content: space-around; }
      .cuerpo .side .menu .item {
        width: 100%;
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 35px; }
      .cuerpo .side .menu .item:hover {
        background-color: gray; }
  .cuerpo .infoSide {
    width: 80%;
    height: 100%;
    border-left: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
