body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif; }

.background {
  background: #2000ff;
  background: -webkit-linear-gradient(135deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  background: -o-linear-gradient(135deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  background: linear-gradient(315deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .background .cuadroIzquierda {
    width: 50%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 2px solid white; }
    .background .cuadroIzquierda .iconoLogin {
      height: 40%; }
  .background .cuadroDerecha {
    width: 50%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 2px solid white; }
    .background .cuadroDerecha .login {
      width: 60%; }
      .background .cuadroDerecha .login .txt {
        margin-top: 20px;
        border-radius: 35px;
        height: 40px; }
    .background .cuadroDerecha .btnLogin {
      color: white;
      border-radius: 10px;
      margin-top: 20px;
      border-color: white; }
    .background .cuadroDerecha .btnLogin:hover {
      background-color: rgba(255, 255, 255, 0.4);
      border-color: white; }

.navbar {
  background: #2000ff;
  background: -webkit-linear-gradient(135deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  background: -o-linear-gradient(135deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  background: linear-gradient(315deg, #2000ff 0%, #20d9ff 50%, #20d9ff 100%);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
  padding-left: 5%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }
  .navbar img {
    height: 70%;
    cursor: pointer; }
  .navbar button {
    border: 3px solid;
    border-radius: 35px;
    height: 3rem;
    width: 11rem;
    font-size: 20px; }

.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0; }
  .cuerpo .side {
    width: 20%;
    height: 100%;
    border-right: 1px solid black; }
    .cuerpo .side .cajaUsuario {
      width: 100%;
      height: 40%; }
      .cuerpo .side .cajaUsuario .datosUser {
        width: 100%;
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .cuerpo .side .cajaUsuario .datosUser p {
          padding-left: 10px;
          font-size: 30px;
          display: inline; }
      .cuerpo .side .cajaUsuario .rolesUsuario {
        width: 100%;
        height: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 20px; }
        .cuerpo .side .cajaUsuario .rolesUsuario .rol {
          padding: 10px 20px;
          margin-top: 5px;
          margin-bottom: 5px;
          height: 25%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 35px;
          border: 2px solid black; }
          .cuerpo .side .cajaUsuario .rolesUsuario .rol p {
            display: inline;
            margin: 0;
            font-size: 20px; }
          .cuerpo .side .cajaUsuario .rolesUsuario .rol .punto {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: black;
            margin-right: 15px; }
    .cuerpo .side .linea {
      height: 0.2%;
      width: 90%;
      background-color: black;
      margin: auto; }
    .cuerpo .side .menu {
      width: 100%;
      height: 59.5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-line-pack: distribute;
      align-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .cuerpo .side .menu .item {
        cursor: pointer;
        width: 100%;
        height: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 40px;
        padding-right: 30%;
        margin: 20px 0; }
        .cuerpo .side .menu .item p {
          margin: 0; }
        .cuerpo .side .menu .item .cuadro {
          height: 100%;
          width: 3%;
          background-color: white; }
      .cuerpo .side .menu .item:hover {
        background-color: #B5B5B5;
        color: white; }
        .cuerpo .side .menu .item:hover .cuadro {
          background-color: #B5B5B5; }
      .cuerpo .side .menu .activo {
        border-top: 1px solid black;
        border-bottom: 1px solid black; }
        .cuerpo .side .menu .activo .cuadro {
          display: inline;
          background-color: #206BFF; }
  .cuerpo .infoSide {
    position: initial;
    width: 80%;
    height: 100%;
    border-left: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .cuerpo .titulos {
    width: 100%;
    height: 10%;
    font-size: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid black; }
    .cuerpo .titulos p {
      margin-left: 20px; }
  .cuerpo .infoUsuarios {
    display: none;
    padding: 20px; }
    .cuerpo .infoUsuarios .opcionesUsuarios {
      width: 100%;
      height: 90%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .cuerpo .infoUsuarios .opcionesUsuarios .users {
        font-size: 45px; }
      .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRegistro {
        width: 45%;
        height: 100%; }
        .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRegistro .form {
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRegistro .form .txtR {
            width: 80%;
            margin: 10px 0;
            height: 50px;
            border-radius: 30px;
            padding-left: 15px;
            border: 1px solid black; }
      .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles {
        width: 45%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles {
          height: 100%;
          width: 100%; }
          .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles {
            height: 80%;
            width: 90%;
            border-radius: 15px;
            border: 2px solid black;
            overflow: scroll;
            overflow-x: hidden; }
            .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario {
              padding: 10px;
              border-bottom: 1px solid gray;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-pack: distribute;
              justify-content: space-around;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              flex-direction: row; }
              .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroUser {
                width: 50%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center; }
                .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroUser p {
                  margin: 0; }
                .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroUser .titRoles {
                  font-size: 25px; }
              .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column; }
                .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU .rolU {
                  cursor: pointer;
                  padding: 10px;
                  padding-right: 20px;
                  margin: 5px 0;
                  border: 2px solid gray;
                  border-radius: 35px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: start;
                  -ms-flex-pack: start;
                  justify-content: flex-start;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center; }
                  .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU .rolU p {
                    margin: 0; }
                  .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU .rolU .puntoU {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: gray;
                    margin-right: 15px; }
                .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU .rolU::hover {
                  border: 2px solid rgba(0, 128, 0, 0.4); }
                .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU .activo {
                  border: 2px solid green;
                  color: green;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: start;
                  -ms-flex-pack: start;
                  justify-content: flex-start;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center; }
                  .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU .activo .puntoU {
                    background-color: green; }
                .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU #admin {
                  -webkit-box-ordinal-group: 3;
                  -ms-flex-order: 2;
                  order: 2; }
                .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU #adminP {
                  -webkit-box-ordinal-group: 2;
                  -ms-flex-order: 1;
                  order: 1; }
                .cuerpo .infoUsuarios .opcionesUsuarios .cuadroRoles .ventanaRoles .cajaRoles .cuadroRolUsuario .cuadroRolesU #dev {
                  -webkit-box-ordinal-group: 4;
                  -ms-flex-order: 3;
                  order: 3; }
  .cuerpo .proyectos {
    display: none; }
    .cuerpo .proyectos .espacio {
      height: 1800px;
      width: 100px; }
